* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: aquamarine;
}

.main {
  margin: 8px 20px;
  border: 5px solid white;
  border-radius: 7px;
}

.top {
  background-image: url("images/Lindsay-background.jpg");
  margin: 0;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.title {
    background: lightblue;
    padding: 5px 12px;
}

.slogan {
    background: blue;
    padding: 5px 12px;
    margin-top: 10px;
}

.middle {
    
}

.middle-activities {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.top-3 {
    text-align: center;
    margin-top: 20px;
}

.activity-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;

}